<section class="poster">

	<a href="javascript:void(0);"></a>

</section>

<footer class="footer" role="contentinfo">

	<div class="container clearfix">

		<div class="left">

			<h1 class="logo">
				<span itemprop="name" class="off-screen">{{ defaults.name }}</span>
				<a href="{{#if slug-url}}{{slug-url}}{{/if}}home.html" title="Home {{ defaults.name }}">
					<div>
						<img src="https://br0.understorage.com.br/v1/AUTH_static/images/logo-footer.png" itemprop="brand" alt="{{ defaults.name }}" arial-hidden="true">
					</div>
				</a>
			</h1>

			<p>
				<span>0800.886.1432</span>
				<span>4003.1432</span>
			</p>

			<a href="#" class="button btn-chat">Fale com um consultor</a>

		</div>

		<ul class="right clearfix">

			<li class="rs">
				<strong>Porto Alegre</strong>
				<p>
					<b>Escritório</b>
					Marechal Floriano, 185 / 6o andar<br>
					Porto Alegre / RS
				</p>
			</li>

			<li class="sp">
				<strong>São Paulo</strong>
				<p>
					<b>Datacenter</b>
					Cotia / SP
				</p>
				<p>
					<b>Escritório</b>
					Alameda Santos, 211 / 203<br>
					São Paulo / SP
				</p>
			</li>

			<li class="rj">
				<strong>Rio de Janeiro</strong>
				<p>
					<b>Datacenter</b>
					Rio de Janeiro / RJ
				</p>
			</li>

			<li class="last">

				<div>

					<h1 class="logo">
						<span itemprop="name" class="off-screen">AbraHosting</span>
						<a href="http://abrahosting.com.br/" taget="_blank" title="AbraHosting">
							<img src="https://br0.understorage.com.br/v1/AUTH_static/images/abrahosting.jpg" itemprop="brand" alt="AbraHosting" arial-hidden="true">
						</a>
					</h1>

					<a href="{{#if slug-url}}{{slug-url}}{{/if}}sobre-a-under.html" class="item"><span class="icon"></span> Sobre a Under</a>
					<a href="{{#if slug-url}}{{slug-url}}{{/if}}temos-e-politicas.html" class="item"><span class="icon"></span> Termos e Políticas</a>
					{{!-- <a href="#" class="item"><span class="icon"></span> Mapa do Site</a> --}}

				</div>

			</li>

		</ul>

	</div>

</footer>

<div class="dialog-forms dialog-pattern dialog">
	<div class="content">
		<div class="head">
			<button class="close-dialog icon"></button>
			<h2>Obrigado.</h2>
		</div>
		<div class="body">
			<p>Formulário submetido com sucesso!</p>
		</div>
	</div>
</div>
<div class="dialog-forms-erro dialog-pattern dialog">
	<div class="content">
		<div class="head">
			<button class="close-dialog icon"></button>
			<h2>Ops.</h2>
		</div>
		<div class="body">
			<p>Erro ao submeter o formulário!</p>
		</div>
	</div>
</div>
